﻿@model dynamic

@{
    ViewBag.Title = "New";
}

<h2>New Rental Form</h2>

<form id="newRental">

    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" type="text" value="" class="form-control" />
        </div>
    </div>



    <button class="btn btn-primary">Submit</button>
</form>


@section scripts{
    <script>
        $(document).ready(function () {
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query/%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength = 3,
                highlight = true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            });
        });
    </script>


}